/* @import url(http://fonts.googleapis.com/css?family=Roboto:400,100,100italic,300,300ita‌​lic,400italic,500,500italic,700,700italic,900italic,900);
 */
@import url("https://fonts.googleapis.com/css?family=Roboto:300,300i,400,400i,500,500i,700,700i,900,900i");

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Roboto", "roboto" !important;
}

/* Write your code here. */

.main_container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
}

body {
  margin: 0;
  font-family: "roboto";
  /*  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", " Roboto",
    "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif; */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
}

html {
  overflow-x: hidden;
}

.app-container {
  max-width: 1110px;
  margin: auto;
}

body {
  background-color: #111111;
  background-image: url("http://placekitten.com/1000/1000");
}
button {
  transition: all 0.5s ease;
  color: #fff;
  border: 3px solid white;
  font-family: "Montserrat", sans-serif;
  text-transform: uppercase;
  text-align: center;
  line-height: 1;
  font-size: 17px;
  background-color: transparent;
  padding: 10px;
  outline: none;
  border-radius: 4px;
}
button:hover {
  color: #001f3f;
  background-color: #fff;
}
